// colors
$--color-black-first: #090C10;
$--color-black-second: #161B22;
$--color-black-third: #21262D;
$--color-gray-first: #C9D1D9;
$--color-gray-second: #30363d;
$--color-white-first: #FFFFFF;
$--color-blue-first: #58a6ff;

// border
$--color-border-gray: rgba(201, 209, 217, .2);


//languages

$--color-javascript: #f1e05a;
$--color-html: #e34c26;
$--color-css: #563d7c;
$--color-typscript: #2b7489;
$--color-php: #4F5D95;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;500;700&display=swap');

$--font-family-Rajdhani: 'Rajdhani', Helvetica, Arial, sans-serif;